{% extends 'base.html' %}
{% load static %}

{% block title %}Продукти{% endblock %}

{% block content %}
<div class="container mt-3 text-center">
    <h3><u>Продукція</u></h3>
    <div class="d-flex justify-content-center mb-3">
        <a href="?sort=name" class="btn btn-outline-light">Сортувати за алфавітом</a>
        <a href="?sort=price" class="btn btn-outline-light">Сортувати за ціною</a>
        <a href="?sort=created_at" class="btn btn-outline-light">Сортувати за датою додавання</a>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-2 mb-3">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body text-dark">
                    <h5 class="card-title display-5">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }} грн</p>
                    <a href="{% url 'product_detail' product.pk %}" class="btn btn-outline-dark">Деталі</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}