<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мій сайт{% endblock %}</title>
    {% load static %}
    <!-- Підключення Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Підключення CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header bg-dark text-white">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-3">
                <img src="{% static 'images/uyawa_logo.png' %}" alt="Логотип" class="logo">
                <nav class="nav">
                    <a class="nav-link text-white" href="{% url 'home' %}">Головна</a>
                    <a class="nav-link text-white" href="{% url 'products' %}">Товари</a>
                    <a class="nav-link text-white" href="{% url 'services' %}">Послуги</a>
                    <a class="nav-link text-white" href="{% url 'blog_home' %}">Блог</a>
                    <a class="nav-link text-white" href="{% url 'contact' %}">Контакти</a>
                </nav>
                <div class="auth-block">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light">Вихід</button>
                        </form>
                    {% else %}
                        <a class="btn btn-outline-light" href="{% url 'login' %}">Вхід</a>
                        <a class="btn btn-outline-light" href="{% url 'register' %}">Реєстрація</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- Вміст, що буде розширюватися в дочірніх шаблонах -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Підключення Bootstrap JS та jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>